<div class="nav-con">
    <div class="nav">
        <div class="logo-con">
            <span class="logo-img">MMall</span>
        </div>
        <div class="nav-list">
            <div class="nav-item">
                <a class="link" href="./index.html">首　页</a>
            </div>
            <div class="nav-item">
                <a class="link" href="./lottery.html" target="_blank">奖品管理</a>
            </div>
        </div>
        <!--<div class="float-right">-->
            <!--<div class="search-con">-->
                <!--<input class="search-input" id="search-input" placeholder="请输入关键字" autocomplete="off">-->
                <!--<input class="btn search-btn" id="search-btn" type="button" value="搜 索">-->
            <!--</div>-->
        <!--</div>-->
        <div class="user-info">
            <div class="user not-login">
                <span class="link js-login">登录</span>
                <span class="link-text">/</span>
                <span class="link js-register">注册</span>
            </div>
            <div class="user login">
                <span class="link-text">
                    欢迎,<span class="username"></span>
                </span>
                <span class="link js-logout">退出</span>
            </div>
        </div>
    </div>
    <div class="login-wrap"></div>
</div>